body  {
    background-color: aliceblue;
}

.all-books {
    display: flex;                                   /* věechny books se budou chovat flexibilně (aby byly na středu, pod sebou), tak musím nadřazený element přepnout do flex boxu (dobré pro to, jak to bude vidět na mobilu, tabletu, ...) */
    flex-direction: row;                             /* aby byly books vedle sebe */
    justify-content: center;                         /* zarovnává to po hlavní ose */
    flex-wrap: wrap;                                 /* zalomování dolů */
}
